/android/*.iml
/android/.gradle
/android/local.properties
/android/.idea/caches
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android/.idea/navEditor.xml
/android/.idea/assetWizardSettings.xml
/android/.DS_Store
/android/build
/android/captures
/android/.externalNativeBuild
/android/.cxx
/android/local.properties

/server/*.iml
/server/.gradle
/server/local.properties
/server/.idea/caches
/server/.idea/libraries
/server/.idea/modules.xml
/server/.idea/workspace.xml
/server/.idea/navEditor.xml
/server/.idea/assetWizardSettings.xml
/server/.DS_Store
/server/build
/server/captures
/server/.externalNativeBuild
/server/.cxx
/server/local.properties
